.page-header{
  color: #9cb8ca;
background-color: #5c8aa8;
  border: 4px solid #324c5d;
  opacity:;
    text-align:left top;
  width: 250px;
  height: 30px;
  padding: 5px;
  margin: 2px; 
   font-family: sans-serif;
}
body{
background-color: #b6cbd8;
}
.Nav{
 text-align: center;
display: inline;
}
ul{
  list-style-type: none;
margin:0; 
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}
a:hover{
background-color: lightgrey;
}
.bl{ 
  display: inline-block;
background-color: #2b4150;
    color: white;
  margin:; 
  padding: 10px;
  text-decoration: none; 
  font-size: 20px; 
width: 100px;
}

@media screen and (max-width: 1000px){
  .OS{
    width:90%;
    height:90%;
  }
  .bl{
    display:block;
    width:100%;
    height:50px;
  }
}
